name: Automatic Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up zmq
      run: sudo apt-get install libczmq-dev
    - name: make all
      run: make all
    - uses: actions/upload-artifact@v4
      with:
        path: |
          universal-pubsub
          universal-sub-pubsub
          universal-xpubxsub
          universal-sub-xpubxsub
          universal-sub-xpubxsub-timeout
